<!-- Contains blueprint that all the pages will inherit from -->
<html>
    <!-- Simple title that appears as tab name-->
    <head>
        {% if title %}
        <title>{{ title }} - Music Peer</title>
        {% else %}
        <title>Music Peer</title>
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>


    <body>
      <!-- The below div works for as navbar links | Different set of links depending on whether
    the user is anonymous (from LoginMAnager class, accessble to all html files) or a logged
     in user -->

     <!--      navbar navbar-dark bg-primary -->
     <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">

              <div class="navbar-header"><h3>MUSIC PEER</h3></div>

              <div>
                  <ul class="nav navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}"><h4>HOME</h4></a>
                      </li>

                      <!-- 'name attribute helps to reference the search bar -->
                      <li>
                        <form class="form-inline" action=" {{ url_for('index') }}" method="post">
                          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search">
                          <!--<input type="submit">-->
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                      </li>

                      <!-- current_user is function from LoginManager: It can be used in all the template-->
                      {% if current_user.is_anonymous %}
                          <!-- login -->
                         <li class="nav-item">
                           <a class="nav-link" href="{{ url_for('login') }}"><h4>LOGIN</h4></a>
                         </li>
                      {% else %}
                          <!-- check out search history -->
                          <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('search_history') }}"><h4>SEARCH HISTORY</h4></a>
                          </li>
                          <!-- logout -->
                          <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}"><h4>LOGOUT</h4></a>
                          </li>

                      {% endif %}

                  </ul>
              </div>

          </div>
     </nav>
<hr>
        <!-- flush out all the flash mesaages as list below horizontal ruled line  in a loop -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <!-- a block with name 'content' can put itself here (coming from any of the derived html files) -->
        {% block content %}{% endblock %}
    </body>
</html>
