<!-- Get navbar from base.html, add the block following to the same -->
{% extends "base.html" %}

<!-- Properties that will come once a particular artist will be clicked -->
{% block content %}

<div class="container">
  <div>
    <h2>{{artist.name}}</h2>
  </div>
  <hr>
  <!------------------------------------------------------------>
  <div>
    <b>LISTENERS</b> : {{artist.stats['listeners']}} | <b>PLAYCOUNT</b> : {{artist.stats['playcount']}}
  </div>
  <hr>
  <!------------------------------------------------------------>
  <div>
    <h2><b>Summary</b> </h2> {{artist.bio[0]}}
    <a href = "{{artist.bio[1]}}"> Read More</a>
  </div>
  <hr>
  <!------------------------------------------------------------>
  <div class="row">
      <div class="col-md-4" style="background-color:33ffac">
        <h2>Top Tracks</h2>
        <ul>
          {% for music in list_tracks %}
            <div>
              <a href= "{{music.url}}"><h5>{{music.name}}</h5></a>
            </div>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-4" style="background-color:70d84c">
        <h2>Hash Tags</h2>
        <ul>
          {% for key, value in artist.tags.items() %}
            <div>
              <l1> <a href = {{value}} > <h5>{{key}}</h5></a></li>
            </div>
          {% endfor %}
        </ul>
      </div>

      <div class="col-md-4" style="background-color:d87f4c">
        <h2>Similar Artistts</h2>
        <ul>
          {% for sim in artist.similar %}
            <div>
              <li><a href = "https://www.last.fm/music/{{sim}}"</a><h5>{{sim}}</h5></li>
            </div>
          {% endfor %}
        </ul>
      </div>
  </div>
</div>

{% endblock %}
