<!--
rendered by:
          def index()
          def login() - only when failed login
redirected by:
          def login() - only when successful login
          def logout()
-->


{% extends "base.html" %}

<!-- this page is evoked only when there is a user logged in, not otherwise-->
{% block content %}
  <!-- list of results after search is named 'page'
    If no search yet, that is 'page' does not have a list OR if 'page' has list
      loop through to display -->
    {% if page == None %}
      <h1>Hi, {{ current_user.username }}!</h1>
    {% else %}
      <ul>
        {% for results in page %}
            <li>
              <div>
                <!-- pass the name of artist clicked to 'clicked_artist_details' in routes.py -->
                  <a href = "{{url_for('clicked_artist_details', query=results.name)}}">{{results.name}}</a>
              </div>
            </li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
