<!-- Inherit navbar from from base.html -->
{% extends "base.html" %}

<!-- Below block would be put at the location specified in base.html
    This block should do 2 things, list search log of logged in user
    Provide a function to Clear History-->
{% block content %}

    <div>
      {% if log_list|length == 0 %}
        <h1>Your have no past, {{current_user.username}}</h1>
      {% else %}
        <h1>Your past is here, {{current_user.username}}</h1>
      {% endif %}
      <a href="{{url_for('clear_search_history')}}"><h3>Clear History</h3></a>
    </div>

    <div>
      <ul>
        {% for log in log_list %}
          <li><h4>{{log[1]}}</h4><br></li>
        {% endfor %}
      </ul>
    </div>

{% endblock %}
